CTYUN_MANAGER_ADMIN_USER=admin
CTYUN_MANAGER_ADMIN_PASSWORD=change-me-now
CTYUN_MANAGER_DB=./data/ctyun-manager.db
CTYUN_MANAGER_CTYUN_MODE=openapi
CTYUN_MANAGER_SESSION_SECRET=change-this-session-secret
CTYUN_MANAGER_PUBLIC_URL=http://127.0.0.1:8000
CTYUN_BACKGROUND_SYNC_SECONDS=300
CTYUN_FINANCE_REFRESH_SECONDS=300
CTYUN_BROWSER_PAGE_REFRESH_SECONDS=600
CTYUN_BROWSER_HEADFUL=1
CTYUN_RECHARGE_PREWARM_ENABLED=1
CTYUN_RECHARGE_FAST_ORDER_ENABLED=1
CTYUN_RECHARGE_QR_CACHE_ENABLED=1
CTYUN_OPENAPI_WORKERS=6
CTYUN_OPENAPI_TIMEOUT_SECONDS=20
CTYUN_DEFAULT_REGION_IDS=
CTYUN_REGION_ENDPOINT=https://ctecs-global.ctapi.ctyun.cn
CTYUN_REGION_LIST_PATH=/v4/region/list-regions
CTYUN_ECS_ENDPOINT=https://ctecs-global.ctapi.ctyun.cn
CTYUN_ECS_LIST_PATH=/v4/ecs/list-instances
CTYUN_EIP_ENDPOINT=https://ctvpc-global.ctapi.ctyun.cn
CTYUN_EIP_LIST_PATH=/v4/eip/list
CTYUN_VPC_ENDPOINT=https://ctvpc-global.ctapi.ctyun.cn
CTYUN_VPC_LIST_PATH=/v4/vpc/new-list
CTYUN_SUBNET_ENDPOINT=https://ctvpc-global.ctapi.ctyun.cn
CTYUN_SUBNET_LIST_PATH=/v4/vpc/new-list-subnet
CTYUN_VIP_ENDPOINT=https://ctvpc-global.ctapi.ctyun.cn
CTYUN_VIP_LIST_PATH=/v4/vpc/havip/list
CTYUN_IMS_ENDPOINT=https://ctimage-global.ctapi.ctyun.cn
CTYUN_IMS_LIST_PATH=/v4/image/list
CTYUN_IAM_ENDPOINT=https://ctiam-global.ctapi.ctyun.cn
CTYUN_IAM_USER_LIST_PATH=/v1/openapi/user/getUsers
